{% set menus = menu_service.findAll %}
{% set options = option_service.findAll %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TechnoLogin - {% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('Bulma') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% if is_granted('ROLE_AUTHOR') %}
    <nav class="navbar has-shadow is-black" role="navigation" aria-label="main navigation" style="z-index: 999">
        <div class="navbar-brand">
            <h1 class="navbar-item">
                Admin
            </h1>
            <a class="navbar-burger is-not-hoverable" id="burger-2">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="navbar-menu" id="nav-links-2">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Mon blog
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ path('admin') }}">Tableau de bord</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="navbar-item" href="{{ ea_gen_url('MenuCrudController') }}">Menus</a>
                        {% endif %}
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Ajouter
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ ea_gen_url('ArticleCrudController','new') }}">Article</a>
                        <a class="navbar-item" href="{{ ea_gen_url('PageCrudController','new') }}">Page</a>
                    </div>
                </div>
            </div>

        </div>
        {#        <div class="is-flex flex-wrap justify-between container navbar-start" style="z-index: 100;"> #}
        {#            <div class="navbar-item has-dropdown is-hoverable"> #}
        {#                <a class="navbar-link"> #}
        {#                    Mon Blog #}
        {#                </a> #}
        {#                <ul class="navbar-dropdown"> #}
        {#                    <li><a class="navbar-item" href="{{ path('admin') }}">Tableau de bord</a></li> #}
        {#                    {% if is_granted('ROLE_ADMIN') %} #}
        {#                        <li><a class="navbar-item" href="{{ ea_gen_url('MenuCrudController') }}">Menus</a></li> #}
        {#                    {% endif %} #}
        {#                </ul> #}
        {#            </div> #}
        {#            <div class="navbar-item has-dropdown is-hoverable"> #}
        {#                <a class="navbar-link"> #}
        {#                    Ajouter #}
        {#                </a> #}
        {#                <ul class="navbar-dropdown"> #}
        {#                    <li><a class="navbar-item" href="{{ ea_gen_url('ArticleCrudController','new') }}">Article</a></li> #}
        {#                    <li><a class="navbar-item" href="{{ ea_gen_url('PageCrudController','new') }}">Page</a></li> #}
        {#                </ul> #}
        {#            </div> #}

        {#        </div> #}
    </nav>
{% endif %}

<nav class="navbar has-shadow is-white">
    <div class="navbar-brand is-flex is-justify-content-center is-align-items-center">
        <a href="{{ path('app_home') }}" class="navbar-item is-not-hoverable">
            <img src="{{ asset('build/images/logo.png') }}" alt="TechnoLogin" style="max-height: 70px;">
        </a>
        <a class="navbar-burger is-not-hoverable" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="navbar-menu" id="nav-links">
        <div class="navbar-start">
            {% for menu in menus %}
            {% if menu.subMenus.count > 0 %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {{ menu.name }}
                </a>
                <div class="navbar-dropdown">
                    {% for subMenu in menu.subMenus %}
                        <a class="navbar-item" href="{{ subMenu|menuLink }}">
                            {{ subMenu.name }}
                        </a>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="navbar-end">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="navbar-end">
                    <a class="navbar-item" href="{{ path('user_profile', {'username': app.user.username}) }}">
                        Mon profil
                    </a>
                    <a class="navbar-item is-danger" href="{{ path('app_logout') }}">
                        <strong>Déconnexion</strong>
                    </a>
                </div>
            {% else %}
                <div class="navbar-end">
                    <a class="navbar-item" href="{{ path('app_login') }}">
                        Connexion
                    </a>
                    <a class="navbar-item" href="{{ path('app_register') }}">
                        Inscription
                    </a>
                </div>
            {% endif %}
        </div>
</nav>
{% block body %}{% endblock %}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            © {{ 'now'|date('Y') }} <a class="has-text-link" href="https://www.technologin.fr" target="_blank">TechnoLogin</a>
            - {{ options['blog_copyright'] }}
        </p>
    </div>
</footer>


</body>
</html>
