<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TechnoLogin - {% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('Bulma') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="py-2 has-background-black has-text-white-ter">
    <div class="is-flex flex-wrap justify-between container navbar-start" style="z-index: 100;">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Mon Blog
            </a>
            <ul class="navbar-dropdown">
                <li><a class="navbar-item" href="{{ path('admin') }}">Tableau de bord</a></li>
                <li><a class="navbar-item" href="#">Menus</a></li>
            </ul>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Ajouter
            </a>
            <ul class="navbar-dropdown">
                <li><a class="navbar-item" href="#">Article</a></li>
                <li><a class="navbar-item" href="#">Page</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="box">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            <a href="{{ path('app_home') }}"
               class="navbar-item">
                <h1 class="title is-1">TechnoLogin</h1>
            </a>
        </div>

        <ul class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="#">
                        <strong>Connexion</strong>
                    </a>
                    <a class="button is-light" href="#">
                        Inscription
                    </a>
                </div>
            </div>
        </ul>
    </nav>
</div>
{% block body %}{% endblock %}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            © {{ 'now'|date('Y') }} <a href="https://www.technologin.fr" target="_blank">TechnoLogin</a> Tous droits
            réservés.
        </p>
    </div>
</footer>


</body>
</html>
