<article class="columns featured">
    <div class="column is-7 post-img">
        <figure>
            <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}">
        </figure>
    </div>
    <div class="column is-5 featured-content va">
        <div>
            <h1 class="title post-title article_title_color">
                {{ article.title }}
            </h1>
            <p class="post-excerpt">
                {{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ '...' }}
            </p>
            <br>
            <a href="{{ path('article_show', {'slug':article.slug}) }}" class="button is-primary is-medium">
                Voir l'article
            </a>
        </div>
    </div>
</article>