<article class="mb-5">
    <div class="columns">
        {% if article.featuredImage %}
            <div class="column is-three-fifths">
                <a href="{{ path('article_show', {'slug':article.slug}) }}" class="image">
                    <img src="/uploads/{{ article.featuredImage.filename }}"
                         alt="{{ article.featuredImage.altText }}" loading="lazy">
                </a>
            </div>
        {% endif %}

        <div class="column {% if article.featuredImage %}is-two-fifths{% else %}is-full{% endif %}">
            <h2 class="title">
                <a href="{{ path('article_show', {'slug':article.slug}) }}" class="has-text-black">
                    {{ article.title }}
                </a>
            </h2>
            <p class="subtitle">
                {{ article.createdAt|date('d M Y') }}
            </p>
            <p class="content">
                {{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ '...' }}
            </p>

        </div>
    </div>
</article>