{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="hero is-fullheight form form-login">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">
                                    @{{ user.username }}
                                </p>
                            </div>
                            <div class="card-content">
                                <div class="box">
                                    <div class="content">
                                        <p>
                                            {{ user.comment.count }} commentaires
                                        </p>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="content">
                                        <p id="like_count">
                                            {% if user.likedArticles.count == 0 %}
                                                0 articles aimés
                                            {% else %}
                                                {% if user.likedArticles.count == 1 %}
                                                    1 article aimé
                                                {% else %}
                                                    {{ user.likedArticles.count }} articles aimés
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                        <table class="table">
                                            <tbody>
                                            {% for article in user.likedArticles %}
                                                <tr id="row_{{ article.id }}" class="liked_article">
                                                    <td>{{ article.title }}</td>
                                                    <td>
                                                        <a href="{{ path('article_show', {'slug': article.slug}) }}">
                                                            <i class="fa fa-eye see_liked"></i>
                                                        </a>
                                                    </td>
                                                    {% if user == app.user %}
                                                        <td>
                                                            <i class="fa fa-minus-circle remove_like"
                                                               data-article-id="{{ article.id }}"></i>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
