{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="hero is-fullheight form form-login">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <div class="card">
                            <div class="card-header" style="align-items: center">
                                <p class="card-header-title" id="username">
                                    @{{ user.username }}
                                </p>
                                {% if app.user == user %}
                                    <span class="icon mx-3" id="modify">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                {% endif %}
                            </div>
                            <div class="card-content content">
                                <blockquote class="blockquote" id="about">
                                    <p class="mb-0">
                                        {{ user.about }}
                                    </p>
                                </blockquote>
                                <div class="box">
                                    <div class="content">
                                        <p>
                                            {{ user.comment.count }} commentaires
                                        </p>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="content">
                                        <p>
                                            {% if user.likedArticles.count == 0 %}
                                                <span id="like_count">0</span> articles aimés
                                            {% else %}
                                                {% if user.likedArticles.count == 1 %}
                                                    <span id="like_count">1</span> article aimé
                                                {% else %}
                                                    <span id="like_count">{{ user.likedArticles.count }}</span> articles aimés
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                        <table class="table">
                                            <tbody>
                                            {% for article in user.likedArticles %}
                                                <tr id="row_{{ article.id }}" class="liked_article">
                                                    <td>{{ article.title }}</td>
                                                    <td>
                                                        <a href="{{ path('article_show', {'slug': article.slug}) }}">
                                                            <i class="fa fa-eye see_liked"></i>
                                                        </a>
                                                    </td>
                                                    {% if user == app.user %}
                                                        <td>
                                                            <i class="fa fa-minus-circle remove_like"
                                                               data-article-id="{{ article.id }}"></i>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-profile">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" id="modal-title">Mon profil</p>
                <button class="delete" aria-label="close" id="modal-close"></button>
            </header>
            <section class="modal-card-body">
                {{ form_start(form, {'attr': {'id': 'form-profile'}}) }}
                <div class="field">
                    {{ form_label(form.username) }}
                    <div class="control">
                        {{ form_widget(form.username) }}
                    </div>
                </div>
                <div class="field">
                    {{ form_label(form.about) }}
                    <div class="control">
                        {{ form_widget(form.about) }}
                    </div>
                </div>
                <div class="notification" id="notification">
                    <p class="has-text-centered">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" id="spinner"></i>
                        <span id="message"></span>
                    </p>
                </div>
                <div class="field is-grouped py-3 is-flex is-justify-content-space-between is-align-content-end">
                    <div class="control">
                        {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                    <div class="control">
                        <a class="button is-warning" id="modal-cancel">Annuler</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
