{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="hero is-fullheight form form-login">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-multiline">
                    <div class="column is-8 is-offset-2 register">
                        <div class="columns box form-box">
                            <div class="column left is-flex is-flex-direction-column is-justify-content-center">
                                <div class="is-flex is-flex-direction-column is-justify-content-center pr-5 leftbox"
                                     style="height: 66%">
                                    <h1 class="title is-1">{{ options['blog_title'] }}</h1>
                                    <h2 class="subtitle colored is-4">Formulaire de connexion</h2>
                                    <p>Si vous êtes passionné par la technologie et le développement web, alors
                                        Technologin est le blog pour vous ! Vous y trouverez des nouvelles, des conseils
                                        et des tutoriels sur tout ce qui touche à la technologie et au web, afin que
                                        vous pouvez rester à jour et acquérir de nouvelles compétences.</p>
                                </div>
                            </div>
                            <div class="column right has-text-centered">
                                <h1 class="title is-4">Se connecter</h1>
                                <p class="description">
                                    Connectez-vous à votre compte pour accéder à votre espace personnel.
                                </p>
                                <br>
                                <form method="post">
                                    {% if error %}
                                        <div class="notification is-danger">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </div>
                                    {% endif %}
                                    <div class="field">
                                        <label class="label" for="inputUsername">Nom d'utilisateur</label>
                                        <div class="control">
                                            <input type="text" class="input effect-1" value="{{ last_username }}"
                                                   name="_username" id="inputUsername" autocomplete="username" required
                                                   autofocus placeholder="John Doe">
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="inputPassword" class="label">Mot de passe</label>
                                        <div class="control">
                                            <input type="password" class="input effect-1" name="_password" id="inputPassword"
                                                   autocomplete="current-password" required placeholder="******">
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <button class="button is-block is-info  is-fullwidth mt-5">
                                        Connexion
                                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    </button>
                                    <br>
                                    <small>
                                        <em>
                                            Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a>
                                        </em>
                                    </small>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
